In [55]:
import selenium
import time #time.sleep에 필요
import pymysql

db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='1234', db='ohmy', charset='utf8')

In [56]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from datetime import datetime # 날짜 관련 라이브러리
from datetime import datetime
from datetime import timedelta
from dateutil import relativedelta

# 아래부터는 뤱페이지 로딩 대기를 위해 필요한 라이브러리
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
cursor = db.cursor()

In [18]:
options = webdriver.ChromeOptions()
options.add_argument("user_agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36 Edg/106.0.1370.47")

driver = webdriver.Chrome(options=options)

driver.get('https://www.kopis.or.kr/por/stats/perfo/perfoStatsTotal.do?menuId=MNU_000135&searchWord=&searchType=total')

In [57]:
# getMonthRange 함수 개요:
# year와 month를 입력받는다 (2019, 01)
# 해당 month의 시작일자와 마지막일자를 구한다. (1월31일, 2월28일....11월30일, 12월31일)
# yyyy.mm.dd 형식으로 리턴 (2019.01.01)
def getMonthRange(year, month): 
    year = int(year)
    month = int(month)
    this_month = datetime(year=year, month=month, day=1).date()
    next_month = this_month + relativedelta.relativedelta(months=1)
    first_day = this_month
    last_day = next_month - timedelta(days=1)
    month__=format(first_day.month,'02')+'.'
    month__day=month__+format(first_day.day,'02')
    day_left= '{}.{}'.format(year,month__day)
    month__ = format(first_day.month, '02') + '.'
    month__day = month__ + format(last_day.day, '02')
    day_right = '{}.{}'.format(year, month__day)
    return day_left, day_right

In [58]:
# searchData 함수 개요 : 
# 검색 범위를 입력받는다 (dayleft, dayright) ex) 2019.01.01, 2019.01.31
# selenium 으로 웹페이지를 컨트롤해서 조회 버튼 클릭
# 결과로 나온 데이터 테이블을 crwaling 해서 result 변수에 담는다.
# result 변수를 리턴해준다.
def searchData(dayleft,dayright) : 
    elem = driver.find_element_by_id('startDate') #검색 시작 날짜
    elem.send_keys(Keys.CONTROL + 'a') # ctrl + a : 커서가 올라간 범위내 모든 텍스트 선택
    elem.send_keys(Keys.BACKSPACE) # backspace 키 입력으로 선택된 부분 clear
    elem.send_keys(dayleft) # 검색시작일자 입력 (2019.01.01)
    elem.send_keys(Keys.ENTER)
    time.sleep(1) # 엔터키 누르고 바로 넘억아면 다음 입력이 안되는 있어서 1초간 대기   2초로 변경

    elem = driver.find_element_by_id('endDate') #검색 마지막 날짜
    elem.send_keys(Keys.CONTROL + 'a')
    elem.send_keys(Keys.BACKSPACE)
    elem.send_keys(dayright)
    elem.send_keys(Keys.ENTER)
    

    elem = driver.find_element_by_xpath('//*[@id="search_list"]/div/a') # 클릭버튼 xpath
    elem.click()
    
    wait = WebDriverWait(driver, 60).until(
    EC.invisibility_of_element_located((By.XPATH, '//*[@id="progress"]'))    )
   
                                                    
    table = driver.find_element_by_xpath('//*[@id="su_con"]/div[5]/table') # 결과 테이블 xpath
    tbody = table.find_element_by_tag_name('tbody') # 테이블구조 : table > thead, tbody, tfoot> tr > td
    result = ''                                     # 우리가 필요한 데이터는 tbody 에 존재하므로 tbody 선택
    
    for tr in tbody.find_elements_by_class_name("trTotal"): # 테이블 tbody 에 있는 trTotal 행 선택
        txt = tr.find_element_by_tag_name("th").get_attribute("innerText") # th는 가장 좌측에 있는 권역이름(서울, 경기도....)
        for td in tr.find_elements_by_tag_name("td")[1:]: # td[0] = 합계, td[1] = 공연건수(건), td[2] = 공연건수(%), td[3] = 개막편수
            txt += ' ' + td.get_attribute("innerText") # innertext는 괄호와 괄호 사이에 있는 텍스트를 읽는다 <td> innerText </td> 
        result += txt + '\n' # th + td[1], td[2].... td[마지막] 까지 문자열 데이터를 붙여서 결과 함수에 담는다. '\n'은 줄바꿈
    
    #합계부분
    #txt2 = ''
    #for tr in tbody.find_elements_by_class_name('sum.brb_e.bg'):
    #   for td in tr.find_elements_by_tag_name("td"):
    #       txt2 += td.get_attribute("innerText") + ' '
    #   #result += txt2 + '\n'
    #print(result)
    
    return result  # 리턴값 str

In [59]:
# make_year_month 함수 개요:
# 시작연도 입력시 현재 연+월 에서 1달을 뺀 전체 데이터를 리턴
# ex) 2019 입력시 2019년01월부터 현재날짜인 2022년11월 바로 전달까지 리턴 (2019.01~~~~2022.10)
def make_year_month(startyear) :
    nowyear = datetime.now().year
    nowmonth = datetime.now().month
    year_month=[]
    for year in range(startyear,nowyear) :
        for month in range (1,13) :
            year_month.append((year,month))
    for month in range(1,nowmonth) :
        year_month.append((nowyear,month))
    return year_month

In [60]:
# def parsing_result(result:str,year,month) : # 
#     districts=result.split('\n')
#     for district in districts :
#         data=district.split()  
#         data.insert(0,str(year).data[0])
#         data.insert(1,str(year),str(month))
#         data=tuple(data)
#         sql = "INSERT INTO `sibal`(s1, s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s);"
#         cursor.execute(sql, data)

In [63]:
def parsing_result(tablename,result) : # 
    districts=result.split('\n')
    for district in districts :
        data=district.split()

In [65]:
year_start=2019
year_month_list = make_year_month(year_start)
for ym in year_month_list :
    dayleft, dayright = getMonthRange(ym[0], ym[1])
    result = searchData(dayleft, dayright)
    result=result.strip()

In [62]:
list='2019서울 2019 서울 638 45.8 488 41.3 4,538 66.3 698,464 60.2 27,190,302 63.2'.split()

In [65]:
result.split('\n')

a2019서울

In [80]:
a='서울 667 45.1 536 41.3 4,936 69.6 660,389 64.0 28,259,338 78.8'+'\n' '경상도 271 18.3 253 19.5 879 12.4 125,424 12.2 2,633,278 7.3'

In [86]:
print(a.split('\n'))

['서울 667 45.1 536 41.3 4,936 69.6 660,389 64.0 28,259,338 78.8', '경상도 271 18.3 253 19.5 879 12.4 125,424 12.2 2,633,278 7.3']

In [5]:
a='서울 667 45.1 536 41.3 4,936 69.6 660,389 64.0 28,259,338 78.8'

In [6]:
seoul=a.split()

In [7]:
seoul.insert(0,'2019'+seoul[0])
seoul.insert(1,'2019')

In [8]:
seoul

['2019서울',
 '2019',
 '서울',
 '667',
 '45.1',
 '536',
 '41.3',
 '4,936',
 '69.6',
 '660,389',
 '64.0',
 '28,259,338',
 '78.8']

In [147]:
print(sqls('1','2','3'))

1,2,3

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-151-35d1a219dd17>, line 1)

In [149]:
print_()

aaaaaa

In [4]:
a='서울 667 45.1 536 41.3 4,936 69.6 660,389 64.0 28,259,338 78.8'

In [153]:
k=a.split()

In [9]:
seoul=tuple(seoul)

In [10]:
seoul

('2019서울',
 '2019',
 '서울',
 '667',
 '45.1',
 '536',
 '41.3',
 '4,936',
 '69.6',
 '660,389',
 '64.0',
 '28,259,338',
 '78.8')

In [11]:
sql = "INSERT INTO `sibal`(s1, s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s);"
cursor.execute(sql, seoul)

1

In [67]:
db.close()

In [66]:
db.commit()

In [ ]:
sql = "INSERT INTO `{}`{} VALUES {};".format(tablename,key,value)